.nodeWrapper {
  cursor: grab;

  :global {
    .node-actions {
      display: none;
    }
  }

  &:hover {
    :global {
      .node-actions {
        display: initial;
      }
    }
  }
}

.mouseDown {
  cursor: grabbing;
}
